body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f7fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    padding-top: 2rem;
}

.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    width: 400px;
    text-align: center;
}

input {
    width: 80%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}

.user-info img {
    border-radius: 50%;
    width: 100px;
    margin: 1rem 0;
}

.repos {
    margin-top: 1rem;
    text-align: left;
}

.repo {
    background-color: #f0f0f0;
    padding: 0.5rem;
    border-radius: 6px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.repo:hover {
    background-color: #e0e0e0;
}

/* Modal Styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    height: 40px;
    /* margin-top: 1rem; */
}

.loader div {
    width: 10px;
    height: 10px;
    background-color: #007bff;
    border-radius: 50%;
    animation: bounce 0.6s infinite alternate;
}

.loader div:nth-child(2) {
    animation-delay: 0.2s;
}

.loader div:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    from {
        opacity: 0.3;
        transform: translateY(-10px);
    }
    to {
        transform: translateY(10px);
        opacity: 1.;
    }
}